[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
bincode = "2.0.1"
bytes = "1.11.0"
tokio = { version = "1.48.0", features = ["full"] }
uuid = { version = "1.18.1", features = ["v4"] }
